services:
  db:
    container_name: db
    image: postgres:16
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  app:
    container_name: app
    image: bbb-backend:0.1
    build: .
    restart: always
    volumes:
      - ./src/migrations:/app/src/migrations
      - ${BBB_RECORDINGS_PATH}:${APP_RECORDINGS_PATH}:ro
    command: >
      sh -c "alembic upgrade head &&
      python3 -m src.scripts.set_hooks &&
      gunicorn src.main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:8000 --access-logfile -"
    ports:
      - 8000:8000
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: