#cloud-config
datasource:
  Ec2:
    strict_id: false
ssh_pwauth: no
users:
  - name: ${username}
    groups: sudo
    shell: /bin/bash
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    ssh_authorized_keys:
      - ${ssh_key}
write_files:
  - path: /tmp/setup-bbb.sh
    permissions: '755'
    content: |
      #!/bin/bash

      update-locale LANG=en_US.UTF-8

      usermod -aG docker ${username}

      wget -qO- https://raw.githubusercontent.com/bigbluebutton/bbb-install/v3.0.x-release/bbb-install.sh | bash -s -- -v jammy-300 -s ${domain} -e ${email} -g

      until systemctl is-active --quiet nginx; do
        sleep 10
      done

  - path: /tmp/whiteboard-container.jsx
    permissions: '644'
    content: |
      import React, { useMemo, useEffect, useState } from 'react';
      import PropTypes from 'prop-types';
      import ErrorBoundaryWithReload from '../common/error-boundary/error-boundary-with-reload/component';

      const WhiteboardContainer = (props) => {
        const [whiteboardId, setWhiteboardId] = useState(null);
        const [userToken, setUserToken] = useState(null);

        const whiteboardUrl = useMemo(() => {
          if (!whiteboardId) {
            return `${whiteboard_base_url}/auth`;
          }

          const url = new URL(`${whiteboard_base_url}/app/board/$${whiteboardId}`);

          if (userToken) {
            url.searchParams.append('token', userToken);
          }

          return url.toString();
        }, [whiteboardId, userToken]);

        useEffect(() => {
          const meetingId = sessionStorage.getItem('meetingId');
          const userId = sessionStorage.getItem('extId');
          
          if (meetingId) {
            fetch(`${api_base_url}/meetings/whiteboard?internalMeetingId=$${meetingId}`)
              .then(response => response.json())
              .then(data => {
                if (data) {
                  setWhiteboardId(data);
                }
              })
              .catch(error => {
                console.error('Error fetching whiteboard:', error);
              });
          }

          if (userId) {
            fetch(`${api_base_url}/users/token?userId=$${userId}`)
              .then(response => response.json())
              .then(data => {
                if (data) {
                  setUserToken(data);
                }
              })
              .catch(error => {
                console.error('Error fetching token:', error);
              });
          }
        }, []);

        return (
          <ErrorBoundaryWithReload>
            <iframe
              src={whiteboardUrl}
              style={{
                background: 'white',
                backgroundColor: 'white',
                border: 'none',
                display: 'block'
              }}
              width="100%"
              height="100%"
            />
          </ErrorBoundaryWithReload>
        );
      };

      WhiteboardContainer.propTypes = {
        intl: PropTypes.shape({
          formatMessage: PropTypes.func.isRequired,
        }).isRequired,
        zoomChanger: PropTypes.func.isRequired,
        fitToWidth: PropTypes.bool.isRequired,
      };

      export default WhiteboardContainer;

runcmd:
  - /tmp/setup-bbb.sh
  - |
    cd /home/${username}
    git clone https://github.com/bigbluebutton/bigbluebutton.git
    cd bigbluebutton/bigbluebutton-html5/
    npm install
    cp /tmp/whiteboard-container.jsx ./imports/ui/components/whiteboard/container.jsx
    ./deploy.sh